@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom SCSS */
$primary-color: #4f46e5;

body {
  background-color: #f9fafb;
  font-family: 'Segoe UI', sans-serif;
}

h1, h2, h3 {
  color: $primary-color;
}
